<div class="tech-btm">
    <h4>Mail Bültenimize Abone Olun.</h4>
    @*<p>Pellentesque dui, non felis. Maecenas male </p>*@
    <form>
        <input id="form_email" type="email" placeholder="Email" required="" name="Mail">
        <a id="btnemail" class="btn btn-success  col-12 text-white"><span>Gönder</span></a>
        <p id="myElem" style="display:none">Mesaj başarıyla gönderildi.</p>
    </form>
</div>


